In [1]:
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from nltk.util import ngrams
from nltk import everygrams

In [2]:
# Import cleaned dataset
df = pd.read_csv('processed_data/clean_data.csv')

In [3]:
df.isna().sum()

Tweet                       0
Years                       0
Tweet Length                0
Lemmatized                  0
Tweets with no Stopwords    0
Short Tweets                0
dtype: int64

In [4]:
len(df)

1787

In [5]:
df.head(5)

,Tweet,Years,Tweet Length,Lemmatized,Tweets with no Stopwords,Short Tweets
0,oh man in like flynn what a crack up ...,2017,304,oh man in like flynn what a crack up #metoo #s...,oh man like flynn crack #metoo #sooriginal #ed...,man like flynn crack #metoo #sooriginal #edgy ...
1,ah no but i must admit ...,2017,375,ah no but i must admit #trumptrain #sweden htt...,ah must admit #trumptrain #sweden http co ckmy...,must admit #trumptrain #sweden http ckmynymtsk
2,most ...,2017,283,most like for #metoo http t co en lcew x,like #metoo http co en lcew x,like #metoo http lcew
3,...,2017,283,that be #awesome #maga #break #fridayfeeling #...,#awesome #maga #break #fridayfeeling #roymoore...,#awesome #maga #break #fridayfeeling #roymoore...
4,thank you ...,2017,306,thank you #metoo #silencebreakers https t co z...,thank #metoo #silencebreakers https co z xwbeocmk,thank #metoo #silencebreakers https xwbeocmk

In [6]:
df_2017 = df.loc[df['Years'] == 2017]
len(df_2017)

14